
body {
    background-color: lightgray;
}

main {
    position: relative;
    background-color: yellow;
    border: 5px solid grey;
    width: 650px;
    height: 500px;

    margin: 65px 0 0 0;
}

header {
    position: absolute;
    top: 35px;
}

.answer {
    background-color: blue;
    width: 250px;
    height: 40px;
    /* margin: 20px 0 20px 0;
    padding: 20px 0 20px 0; */
}


.answer:hover {
    background-color: grey;
    border: 2px solid red;
}